/* line 3, ../sass/_bar.scss */
.bar-nav {
	/*background-color: #494039;*/
	border-bottom: 0;
}
/* line 4, ../sass/_bar.scss */
.bar-nav .title, .bar-nav a {
	color: #fff;
}
/* line 7, ../sass/_bar.scss */
.bar-nav .title {
	font-weight: normal;
	font-size: 18px;
}
/* line 15, ../sass/_bar.scss */
.bar-footer {
	height: 60px;
}
/* line 17, ../sass/_bar.scss */
.bar-footer .btn {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 12px 20px;
	font-size: 18px;
}
/* line 24, ../sass/_bar.scss */
.bar-footer-btn {
	border: 0;
	background: none;
}
/* line 27, ../sass/_bar.scss */
.bar-footer-btn .btn-row {
	margin: 0;
}
/* line 4, ../sass/_tab.scss */
.bar-nav.bar-tab .tab-item {
	border: 0;
	background-color: #fff;
	border-bottom: 1px solid #d0d0d0;
}
/* line 8, ../sass/_tab.scss */
.bar-nav.bar-tab .tab-item .tab-label {
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	margin-bottom: -4px;
}
/* line 15, ../sass/_tab.scss */
.bar-nav.bar-tab .tab-item.active {
	background-color: #fff;
}
/* line 18, ../sass/_tab.scss */
.bar-nav.bar-tab .tab-item.active .tab-label {
	color: #f50;
	border-bottom: 2px solid #f50;
}
/* line 24, ../sass/_tab.scss */
.bar-tab {
	height: 45px;
	color: #444;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	border-top: 0;
}
/* line 29, ../sass/_tab.scss */
.bar-tab .tab-item {
	border-top: 2px solid #4c4c4c;
	border-left: 1px solid #434343;
	background: #4c4c4c;
	color: #aeaeae;
}
/* line 34, ../sass/_tab.scss */
.bar-tab .tab-item:first-child {
	border-left: none;
}
/* line 37, ../sass/_tab.scss */
.bar-tab .tab-item.active {
	color: #FFF;
	background-color: #585858;
	border-top-color: #ed6640;
}
/* line 42, ../sass/_tab.scss */
.bar-tab .tab-item.active2 {
	color: #ed6640;
	border-bottom: 2px solid #f50;
}
/* line 48, ../sass/_tab.scss */
.bar-nav.bar-tab2 {
	position: relative;
}
/* line 50, ../sass/_tab.scss */
.bar-nav.bar-tab2 .tab-item {
	border-bottom-width: 1px;
	border-left: 1px solid #ddd;
	border-top: 1px solid #ddd;
}
/* line 54, ../sass/_tab.scss */
.bar-nav.bar-tab2 .tab-item:first-child {
	border-left: 0;
}
/* line 57, ../sass/_tab.scss */
.bar-nav.bar-tab2 .tab-item.active2 {
	border-bottom-width: 2px;
}
/* line 65, ../sass/_tab.scss */
.tab-item input {
	width: 20px;
	height: 20px;
	border: 1px solid #e8eaec;
	background-color: #fff;
	background-position: 0 0;
	background-repeat: no-repeat;
	-moz-appearance: none;
	-webkit-appearance: none;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	vertical-align: middle;
}
/* line 76, ../sass/_tab.scss */
.tab-item.active2 input {
	border: none;
	outline: none;
	background-image: url('../images/ico-radio-right.png?1427600127');
	-moz-background-size: 20px 20px;
	-o-background-size: 20px 20px;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}
/* line 84, ../sass/_tab.scss */
.tab[data-tab="none"] .tab-cnt-view {
	display: block;
}
/* line 88, ../sass/_tab.scss */
.tab-cnt-view {
	margin-top: -1px;
	margin-bottom: 0;
	display: none;
}
/* line 92, ../sass/_tab.scss */
.tab-cnt-view .table-view {
	margin-bottom: 0;
}
/* line 95, ../sass/_tab.scss */
.tab-cnt-view .table-view-cell {
	margin-left: 15px;
	padding-right: 20px;
	padding-left: 50px;
	border-bottom: 1px solid #d5d5d5;
	font-size: 12px;
	line-height: 1.4;
}
/* line 102, ../sass/_tab.scss */
.tab-cnt-view .table-view-cell:last-child {
	border-bottom: 0;
}
/* line 105, ../sass/_tab.scss */
.tab-cnt-view .table-view-cell h5 {
	margin: 5px 0 10px;
	color: #333;
	font-size: 14px;
}
/* line 1, ../sass/_swipe.scss */
.swipe {
	overflow: hidden;
	visibility: visible;
	position: relative;
}
/* line 6, ../sass/_swipe.scss */
.swipe[data-size="320x180"] img {
	min-height: 180px;
}
/* line 10, ../sass/_swipe.scss */
.swipe + .table-view {
	border-top: 0;
}
/* line 14, ../sass/_swipe.scss */
.swipe-wrap {
	overflow: hidden;
	position: relative;
	font-size: 0;
	white-space: nowrap;
}
/* line 19, ../sass/_swipe.scss */
.swipe-wrap img {
	vertical-align: top;
}
/* line 23, ../sass/_swipe.scss */
.swipe-wrap > div {
	width: 100%;
	position: relative;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	font-size: 14px;
}
/* line 30, ../sass/_swipe.scss */
.slider-dots {
	text-align: center;
	padding-top: 10px;
	position: absolute;
	z-index: 2;
	left: 0;
	right: 0;
	bottom: 6px;
}
/* line 38, ../sass/_swipe.scss */
.slider-dots span {
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	width: 15px;
	height: 2px;
	overflow: hidden;
	margin-left: 2px;
	background-color: #93dff0;
}
/* line 46, ../sass/_swipe.scss */
.slider-dots .cur {
	background-color: #fff;
}
/* line 6, ../sass/_form.scss */
.table-view-cell select[name="couponid"]{
	padding: 0;
	margin-bottom: 0;
	font-size: 16px;
	border: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* line 6, ../sass/_form.scss */
.table-view-cell select[class="selecttb"]{
	padding: 0;
	margin-bottom: 0;
	font-size: 16px;
	border: none;
	background: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* line 15, ../sass/_form.scss */
.frm {
	padding: 10px;
}
/* line 17, ../sass/_form.scss */
.frm .input-row {
	background-color: #fff;
	border: 1px solid #d3d3d3;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* line 21, ../sass/_form.scss */
.frm .input-row label {
	color: #999;
	white-space: nowrap;
}
/* line 26, ../sass/_form.scss */
.frm .input-table {
	display: table;
}
/* line 28, ../sass/_form.scss */
.frm .input-table input {
	padding: 13px 15px;
	height: auto;
}
/* line 33, ../sass/_form.scss */
.frm .input-row {
	padding: 5px;
}
/* line 35, ../sass/_form.scss */
.frm .input-row input {
	padding-left: 10px;
}
/* line 39, ../sass/_form.scss */
.frm .input-table, .frm .input-row {
	height: auto;
	min-height: 35px;
	margin-bottom: 15px;
}
/* line 47, ../sass/_form.scss */
.input-table[col="2"] .table-cell {
	width: 50%;
}
/* line 49, ../sass/_form.scss */
.input-table[col="2"] .table-cell input, .input-table[col="2"] .table-cell .btn {
	margin-bottom: 0;
}
/* line 52, ../sass/_form.scss */
.input-table[col="2"] .table-cell:last-child {
	padding-left: 10px;
}
/* line 59, ../sass/_form.scss */
.pay-ipt:checked, .pay-ipt2:checked {
	border: none;
	background-image: url('../images/ico-pay.png?1422237608');
	background-repeat: no-repeat;
	background-position: -999px 0;
	-moz-background-size: 25px auto;
	-o-background-size: 25px auto;
	-webkit-background-size: 25px auto;
	background-size: 25px auto;
}
/* line 67, ../sass/_form.scss */
.pay-ipt, .pay-ipt2 {
	width: 25px;
	height: 25px;
	outline: 0;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 1px solid #bfbfbf;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
/* line 77, ../sass/_form.scss */
.pay-ipt[type=radio], .pay-ipt2 {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
/* line 80, ../sass/_form.scss */
.pay-ipt:checked {
	background-position: 0 -53px;
}
/* line 83, ../sass/_form.scss */
.pay-ipt2:checked {
	background-position: 0 -80px;
}
/* line 3, ../sass/_dlg.scss */
.mask {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 100;
}
/* line 13, ../sass/_dlg.scss */
.dlg {
	width: 100%;
	position: fixed;
	z-index: 102;
	left: 0;
	bottom: 0;
	background-color: #f0f0f0;
}
/* line 20, ../sass/_dlg.scss */
.dlg .dlg-tle {
	color: #fff;
	padding: 5px;
	overflow: hidden;
	background-color: #8f8f8f;
 *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.dlg .dlg-tle:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 27, ../sass/_dlg.scss */
.dlg .dlg-wp {
	padding-top: 20px;
	padding-bottom: 20px;
}
/* line 31, ../sass/_dlg.scss */
.dlg .dlg-btn {
	padding: 6px 10px;
	background: #6d6d6d;
	border: none;
	outline: none;
	font-size: 14px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/* line 38, ../sass/_dlg.scss */
.dlg .dlg-btn[dlg-act="cancel"] {
	float: left;
}
/* line 41, ../sass/_dlg.scss */
.dlg .dlg-btn[dlg-act="done"] {
	float: right;
}
/* line 45, ../sass/_dlg.scss */
.dlg h5 {
	margin: 0;
	line-height: 2.2;
	text-align: center;
}
/* line 50, ../sass/_dlg.scss */
.dlg .dlg-select {
	padding: 15px;
	font-size: 18px;
	border: none;
	color: #f37a3f;
	border-bottom: 1px solid #fff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f1f1f1));
	background: -moz-linear-gradient(#ffffff, #f1f1f1);
	background: -webkit-linear-gradient(#ffffff, #f1f1f1);
	background: linear-gradient(#ffffff, #f1f1f1);
	-moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.3);
}
/* line 63, ../sass/_dlg.scss */
.order-dlg .dlg-tle {
	display: none;
}
/* line 66, ../sass/_dlg.scss */
.order-dlg .dlg-wp {
	padding: 0;
}
/* line 71, ../sass/_dlg.scss */
.butler-dlg {
	background: #fff;
}
/* line 73, ../sass/_dlg.scss */
.butler-dlg .dlg-tle {
	color: #666;
	padding: 0;
	background: #fff;
	border-bottom: 1px solid #e3e3e3;
}
/* line 78, ../sass/_dlg.scss */
.butler-dlg .dlg-tle h5 {
	color: #ff722d;
	margin: 0 60px;
	padding: 10px 0;
	min-height: 44px;
	font-size: 14px;
	line-height: 1.2;
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}
/* line 87, ../sass/_dlg.scss */
.butler-dlg .dlg-tle h5 span {
	font-size: 12px;
}
/* line 91, ../sass/_dlg.scss */
.butler-dlg .dlg-tle .dlg-btn {
	width: 60px;
	margin-top: 10px;
	text-align: center;
	background: none;
}
/* line 98, ../sass/_dlg.scss */
.butler-dlg .dlg-wp {
	padding: 0;
}
/* line 101, ../sass/_dlg.scss */
.butler-dlg .butler-list {
	position: absolute;
	width: 100%;
}
/* line 104, ../sass/_dlg.scss */
.butler-dlg .butler-list li {
	float: none;
	padding: 5px 12px;
	border-bottom: 1px solid #e3e3e3;
}
/* line 109, ../sass/_dlg.scss */
.butler-dlg .butler-list .butler-hd {
	width: 35px;
	height: 35px;
}
/* line 113, ../sass/_dlg.scss */
.butler-dlg .butler-list .hide {
	display: block;
}
/* line 116, ../sass/_dlg.scss */
.butler-dlg .butler-list .butler-state {
	margin-top: 5px;
}
/* line 3, ../sass/_btn.scss */
.btn {
	padding: 15px 10px;
	font-size: 14px;
}
/* line 7, ../sass/_btn.scss */
.btn-block {
	font-size: 16px;
	width: auto;
}
/* line 12, ../sass/_btn.scss */
.btn-row {
	margin: 20px 10px;
 *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.btn-row:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 15, ../sass/_btn.scss */
.btn-row .btn-block {
	font-size: 18px;
}
/* line 18, ../sass/_btn.scss */
.btn-row.content-padded {
	margin: 20px 10px;
}
/* line 23, ../sass/_btn.scss */
.btn-row[col="2"] .btn {
	font-size: 18px;
	margin-bottom: 10px;
	width: 48%;
}
/* line 27, ../sass/_btn.scss */
.btn-row[col="2"] .btn:first-child {
	float: left;
}
/* line 30, ../sass/_btn.scss */
.btn-row[col="2"] .btn:last-child {
	float: right;
}
/* line 35, ../sass/_btn.scss */
.btn-positive {
	border-color: #3eb742;
	background-color: #3eb742;
}
/* line 39, ../sass/_btn.scss */
.btn-positive2 {
	color: #fff;
	border-color: #45c0e4;
	background-color: #45c0e4;
}
/* line 45, ../sass/_btn.scss */
.bar-footer .btn-positive2 {
	color: #fff;
	background-color: #ff722d;
	border-color: #ff722d;
}
/* line 51, ../sass/_btn.scss */
.btn-negative2 {
	color: #fff;
	padding: 10px 0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #ff722d;
}
/* line 57, ../sass/_btn.scss */
.btn-negative2.btn-outlined {
	color: #ff5800;
	border-color: #ed6640;
	background: none;
}
/* line 64, ../sass/_btn.scss */
.positive3 {
	color: #fff;
	background-color: #ed6640;
}
/* line 68, ../sass/_btn.scss */
.btn-disabled {
	color: #666;
	border-color: #ccc;
	background-color: #ccc;
	font-size: 14px;
}
/* line 10, ../sass/_base.scss */
img {
	vertical-align: top;
}
/* line 14, ../sass/_base.scss */
.hide {
	display: none;
}
/* line 17, ../sass/_base.scss */
.inline-blk {
	display: inline-block;
}
/* line 20, ../sass/_base.scss */
body, .content {
	background-color: #fbfbfb;
}
/* line 23, ../sass/_base.scss */
.content2 {
	padding-bottom: 80px;
}
/* line 26, ../sass/_base.scss */
.content3 {
	padding-bottom: 40px;
}
/* line 29, ../sass/_base.scss */
.content-index {
	padding-bottom: 45px;
}
/* line 32, ../sass/_base.scss */
.through {
	text-decoration: line-through;
}
/* line 35, ../sass/_base.scss */
.agr {
	text-align: right;
}
/* line 38, ../sass/_base.scss */
.agc {
	text-align: center;
}
/* line 41, ../sass/_base.scss */
.agl {
	text-align: left;
}
/* line 44, ../sass/_base.scss */
.well {
	text-align: center;
	margin: 20px;
}
/* line 48, ../sass/_base.scss */
.w150 {
	width: 150px;
}
/* line 51, ../sass/_base.scss */
.clearfix {
 *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 54, ../sass/_base.scss */
ol, ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
/* line 59, ../sass/_base.scss */
.banner {
	position: relative;
}
/* line 61, ../sass/_base.scss */
.banner .banner-nav {
	width: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 34px;
	line-height: 34px;
	padding-right: 40px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: right;
}
/* line 73, ../sass/_base.scss */
.banner .navigate-right, .banner .navigate-right:after {
	color: #fff;
}
/* line 79, ../sass/_base.scss */
.price {
	font-family: 'STHeiti';
	line-height: 60px;
	color: #9b9b9b;
	font-size: 16px;
}
/* line 85, ../sass/_base.scss */
.price .price-real strong {
	font-size: 30px;
}
/* line 91, ../sass/_base.scss */
.table {
	display: table;
}
/* line 93, ../sass/_base.scss */
.table.block {
	width: 100%;
}
/* line 97, ../sass/_base.scss */
.table-cell {
	display: table-cell;
}
/* line 101, ../sass/_base.scss */
.loading32 {
	width: 32px;
	height: 32px;
	margin: 20px auto;
	background: url('../images/load_32_32.gif?1403851519') no-repeat 0 0;
}
/* line 4, ../sass/index.scss */
.bar-logo {
	width: 112px;
	height: 30px;
	margin-top: 8px;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	background: url('../images/logo.png?1419230014') no-repeat 0 0;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
/* line 12, ../sass/index.scss */
.bar-tel {
	width: 31px;
	height: 27px;
	margin-top: 8px;
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	background: url('../images/bar-tel.png?1419230701') no-repeat 0 0;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}
/* line 21, ../sass/index.scss */
.ico-jt:before, .ico-xj:before, .ico-zf:before, .ico-fc:before, .ico-jd:before, .ico-hy:before, .ico-clean:before, .ico-1yuan:before {
	position: relative;
}
/* line 24, ../sass/index.scss */
.ico-jt:before, .ico-xj:before, .ico-zf:before, .ico-fc:before, .ico-jd:before, .ico-hy:before, .ico-clean:before, .ico-1yuan:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	width: 42px;
	height: 42px;
	background-image: url('../images/ico-index.png?1419235886');
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: 91px auto;
	-o-background-size: 91px auto;
	-webkit-background-size: 91px auto;
	background-size: 91px auto;
}

/* line 37, ../sass/index.scss */
.ico-jt:before, .ico-xj:before, .ico-zf:before, .ico-fc:before, .ico-jd:before, .ico-hy:before {
	width: 35px;
	height: 35px;
	background-image: url('../images/ico-index2.png?1419238517');
	-moz-background-size: 109px auto;
	-o-background-size: 109px auto;
	-webkit-background-size: 109px auto;
	background-size: 109px auto;
}
/* line 45, ../sass/index.scss */
.ico-clean:before {
	background-position: 0 0;
}
/* line 50, ../sass/index.scss */
.ico-1yuan:before {
	background-position: -49px 0;
}
/* line 55, ../sass/index.scss */
.ico-jt:before {
	background-position: 0 0;
}
/* line 59, ../sass/index.scss */
.ico-xj:before {
	background-position: -37px 0;
}
/* line 63, ../sass/index.scss */
.ico-zf:before {
	background-position: -74px 0;
}
/* line 67, ../sass/index.scss */
.ico-fc:before {
	background-position: 0 -37px;
}
/* line 71, ../sass/index.scss */
.ico-jd:before {
	background-position: -37px -37px;
}
/* line 75, ../sass/index.scss */
.ico-hy:before {
	background-position: -74px -37px;
}

/* line 24, ../sass/index.scss */
.ico-zq:before, .ico-zh:before{
	content: ' ';
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	width: 42px;
	height: 42px;
	background-image: url('../images/ico-index3.png?1419235886');
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: 91px auto;
	-o-background-size: 91px auto;
	-webkit-background-size: 91px auto;
	background-size: 91px auto;
}
/* line 45, ../sass/index.scss */
.ico-zq:before {
	background-position: 0 0;
}
/* line 50, ../sass/index.scss */
.ico-zh:before {
	background-position: -49px 0;
}
/* line 24, ../sass/index.scss */
.ico-jc:before, .ico-gd:before{
	content: ' ';
	display: inline-block;
	vertical-align: middle;
 *vertical-align: auto;
 *zoom: 1;
 *display: inline;
	width: 42px;
	height: 42px;
	background-image: url('../images/ico-index4.png?1419235886');
	background-repeat: no-repeat;
	background-position: 0 0;
	-moz-background-size: 91px auto;
	-o-background-size: 91px auto;
	-webkit-background-size: 91px auto;
	background-size: 91px auto;
}
/* line 45, ../sass/index.scss */
.ico-jc:before {
	background-position: 0 0;
}
/* line 50, ../sass/index.scss */
.ico-gd:before {
	background-position: -49px 0;
}
/* line 80, ../sass/index.scss */
.table-view5 {
	padding: 10px 0;
	text-align: center;
	margin-bottom: 7px;
 *zoom: 1;
}
/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.table-view5:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden;
}
/* line 85, ../sass/index.scss */
.table-view5 h4 {
	color: #000;
	font-size: 18px;
}
/* line 89, ../sass/index.scss */
.table-view5 .table-cell {
	float: left;
	display: block;
}
/* line 92, ../sass/index.scss */
.table-view5 .table-cell div {
	color: #999;
	font-size: 14px;
}
/* line 98, ../sass/index.scss */
.table-view5[data-role="i2"] .table-cell {
	width: 50%;
}
/* line 100, ../sass/index.scss */
.table-view5[data-role="i2"] .table-cell:last-child {
	border-left: 1px solid #e8e8e8;
}
/* line 105, ../sass/index.scss */
.table-view5[data-role="i3"] {
	border: 0;
	padding: 0 0 20px;
	margin-bottom: 0;
}

/* line 109, ../sass/index.scss */
.table-view5[data-role="i3"] h4 {
	color: #999;
	font-size: 14px;
	margin-bottom:5%;
	margin-top:5%
}

/* line 113, ../sass/index.scss */
.table-view5[data-role="i3"] .table-cell {
	width: 33.33333%;
	padding: 10px 0;
	margin-top: -1px;
	border: 1px solid #e8e8e8;
	border-width: 1px 0 1px 1px;
}

<!--add new css-->
.notice-title {
	color:#F00;
	margin-top:2%;
	margin-bottom:1%;
	font-size:15px;
}

.propertylist {
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   font-size: 17px;
}
.required {
	color:#F00;
}

<!--WEIGJ ADD CSS-->

.imagup {
	width: 620px;
	margin: 30px auto
}
.imagup p {
	line-height: 32px
}
.imagup_btn {
	position: relative;
	overflow: hidden;
	margin-right: 4px;
	display: inline-block;
    *display:inline;
	padding: 4px 10px 4px;
	font-size: 14px;
	line-height: 18px;
    *line-height:20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #CCC;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.imagup_btn input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	border: solid transparent;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer;
}
.imagup_progress {
	position: relative;
	margin-left: 100px;
	margin-top: -24px;
	width: 200px;
	padding: 1px;
	border-radius: 3px;
	display: none
}
.imagup_bar {
	background-color: green;
	display: block;
	width: 0%;
	height: 20px;
	border-radius: 3px;
}
.imagup_percent {
	position: absolute;
	height: 20px;
	display: inline-block;
	top: 3px;
	left: 2%;
	color: #fff
}
.imagup_files {
	height: 22px;
	line-height: 22px;
	margin: 10px 0
}
.imagup_delimg {
	margin-left: 20px;
	color: #090;
	cursor: pointer
}

.typeClick {
	background-color:#FFDFD0;
}

.upsp_btn {
	height:15px;
	background-color:#F60;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}